<div class="custom-sidebar gdl-divider">
    <h1 id='body_content_title' style='padding-bottom: 25px;'>Gallery Collections</h1>
    <%= generate_photo_gallery_menu(@collections, @albums, {:ul=>{:class => "classtest", :id=>"idtest" }}) %>
</div>
<div class="pt30"></div>
